*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-image: url("../img/wall.jpeg");
  background-repeat: no-repeat;
}

.top-nav {
  background-color: rgba(163, 163, 163, 0.75);
  overflow: hidden;
  width: 960px;
}

.top-nav a , button {
  float: right;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

#signin-button {
  background-color: Transparent
}

#email-button {
  background-color: #d8c6af;
}

#nav-icon {
  float: left;
  width: 30px;
  height: 30px;

}
