*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h2 {
  color: #cc8100;
}
.top8-friends {
  width: 620px;
}

.portrait{
  float: left;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner {
  background-color: #ffcc75;
}

.red-text {
  color: red;
}

.portrait-name {
  color: blue;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  border: solid blue 1px;
}

.all-friends {
  float: right;
  font-weight: bold;
}
