*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
  margin-top: 16px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: purple;
  font-size: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
body {
  background-image: url("../img/wall.jpeg");
  background-repeat: no-repeat;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.top-nav {
  background-color: rgba(163, 163, 163, 0.75);
  overflow: hidden;
  width: 960px;
  font-size: 14px;
  border: solid black 1px;
}

.top-nav a{
  float: right;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.slogan {
  text-align: center;
  color: purple;
  background-color: rgba(163, 163, 163, 0.75);
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  border: solid black 1px;
  width: 705px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.main {
  text-align: center;
}

.main-buttons {
  /*margin-left: 0 auto;
  margin-right: 0 auto;*/
  width: 200px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#signin-button {
  background-color: Transparent;
  float: right;
  border: solid black 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-left: 5px;
}

#email-button {
  background-color: #d8c6af;
  float: right;
  border: solid black 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#nav-icon {
  float: left;
  width: 30px;
  height: 30px;
}

#nav-icon-big {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

#story-button {
  background-color: rgba(163, 163, 163, 0.75);
}

#facebook-button {
  background-color: #3B5998;
}

#facebook-icon {
  width: 20px;
  height: 20px;
}

#fire-icon {
  width: 20px;
  height: 20px;
}
